body {
	background-color: #f7f5fa;

	font-family: 'Montserrat', sans-serif;
}

.root {
	min-width: 100vw;
	min-height: 100vh;

	display: flex;
	align-items: center;
	justify-content: center;
}

.field {
	position: relative;

	width: 900px;
	height: auto;
	min-height: 500px;

	padding-bottom: 50px;

	box-shadow: 0.5px 0.5px 10px 0.5px rgba(0, 0, 0, 0.2);

	background-color: #fff;
}

@media (max-width: 1024px) {
	.field {
		width: 90%;
	}
}

@media (max-width: 768px) {
	.field {
		width: 100%;
	}
}

.button__wrapper {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.button {
	padding: 20px 40px;
	background-color: purple;
	border-radius: 50px;

	color: #fff;

	transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out,
		box-shadow 0.3s ease-in-out;
}

.button:hover {
	transform: scale(1.05);
	opacity: 0.9;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
