.heading {
	line-height: 26px;
	font-size: 36px;
}

.description {
	font-size: 18px;
	font-weight: 300;
}

.bold {
	font-weight: 500;
}

@keyframes scale {
	0% {
		transform: scale(1.1);
	}
	50% {
		transform: scale(0.7);
	}

	100% {
		transform: scale(1.1);
	}
}

@keyframes rotate {
	0% {
		transform: rotate(10deg);
	}

	50% {
		transform: rotate(-10deg);
	}

	100% {
		transform: rotate(10deg);
	}
}

@keyframes opacity {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.scale {
	animation-duration: 0.8s;
	animation-name: scale;
	animation-iteration-count: infinite;
}
.rotate p {
	animation-duration: 0.6s;
	animation-name: rotate;
	animation-iteration-count: infinite;
}

.flashing {
	animation-duration: 2s;
	animation-name: opacity;
	animation-iteration-count: infinite;
}
