.heading {
	line-height: 26px;
	font-size: 36px;
}

.description {
	font-size: 18px;
	font-weight: 300;
}

@media (max-width: 768px) {
	.heading {
		font-size: 30px;
	}
	.description {
		font-size: 15px;
	}
}

.bold {
	font-weight: 500;
}

.close {
	display: none;
}

.scale {
	animation-duration: 0.8s;
	animation-name: scale;
	animation-iteration-count: infinite;
}
.rotate {
	animation-duration: 0.6s;
	animation-name: rotate;
	animation-iteration-count: infinite;
}

.flashing {
	animation-duration: 2s;
	animation-name: opacity;
	animation-iteration-count: infinite;
}
