.countdown {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #21495e;
	z-index: 100;

	display: flex;
	justify-content: center;
	align-items: center;
}

.count {
	background-color: #768c9b;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100px;
	height: 100px;
	border-radius: 100%;

	color: #fff;
	font-size: 70px;
}
